*{
  /* overflow: hidden; */
  font-family: 'Poppins', sans-serif;
  /* font-family: Georgia, serif; */
  font-family: 'Poppins', sans-serif;
  color: black;

  text-align: justify;
  text-align-last: left;

  box-sizing: border-box;
  word-wrap: break-word;
  flex-wrap: wrap;
}

#principal{
  display: grid;
}
main{


  /* box-sizing: content-box; */
  /* height: auto; */

  background: url(https://2.bp.blogspot.com/-Bkj1ISsSoco/XLspVyw5fUI/AAAAAAAABPw/pwdhkZveAsobdRbgtDGqZcAOePcwhY4JwCLcBGAs/s1600/after-road-coignieres%2B%25285%2529.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;

}

#rouge{
  color: red;
}
.test{
  position: relative;
  top:100px;
  margin: 0 auto;
  background-color: blue;

}

@media (orientation:landscape) {
  #formulaire{
    /* --width: 300px; */
    /* --width: 25%; */
  }
}
@media (orientation:portrait) {
  #formulaire{
    /* --width: 70%; */
  }
}

#formulaire{

/* display:flex; */
display: inline-block;
align-items: center;
justify-content: center;
color:white;
animation: formu 1s;
/* position: fixed; */
/* position: absolute; */

width: var(--width);
left: calc(50% - var(--width)/2);
top:30%;
margin: 10% auto;
/* z-index: 300; */

background-color: rgb(255, 255, 255,0.9);
border:1.5px  solid rgb(133, 19, 190,0.5);

}
#titrecon{
  position: relative;
   --widthnew: 145px;
  width: var(--widthnew);
  left: calc(var(--width)/2 - var(--widthnew)/2);

  top: 15px;
  color: white;
  font-weight: bold;
  background-color: rgba(23,29,43,0.8);
  font-family: 'Poppins', sans-serif;
  letter-spacing: .1rem;
  padding: 5px 5px;
  text-align-last: center;
}
.elmtform > label{
  font-family: 'Poppins', sans-serif;
  float: left;
  position: relative;
  text-decoration: underline;
  height: 22px;
  /* margin-top: 3px; */
}
.elmtform{
  margin: 15px 15px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  height: 22px;

}
#accepte{
  font-family: Arial;
  /* float: right; */
  position: relative;
  text-decoration: none;
  font-size: 0.75em;
  color: rgb(87, 60, 254);
  /* margin-top: 3px; */
}
.elmtform2{
  margin: 15px 15px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elmtform > .zones{
  font-family: Arial;
  float: right;
  width:160px;
  height: 21px;
  margin-right: 0;
  margin-left: 15px;
}
#zoneradio{
  display: flex;
  justify-content:space-around;
}
#zoneradio > div > label{
  font-family: Arial;
}
#submit{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
#annuler{
  text-decoration: none;
  position: absolute;
  float: left;
  left: 0;
}
#annuler > a{
  text-decoration: none;
  float: left;
}
#envoyer{
  text-decoration: none;
  position: absolute;
  float: right;
  right: 0;
}
@keyframes formu {
  from{
    transform: scale(0.4);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

#messagesubmit{
  display: none;
}
